<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="PHP mapping" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files\IIS Express\PHP\v7.2\php-cgi.exe" resourceType="File" />
        </handlers>
    </system.webServer>
    <system.web>
        <identity impersonate="false" />
    </system.web>
</configuration>
